<mdv-thirteen-toolbar [sidenav]="sidenav"
                    [title]="title"
                    [isAuthenticated]="userIsAuthenticated$ | async">
</mdv-thirteen-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" closed class="app-sidenav lighter-background">
    <nav>
      <a mat-button class="nav-link" *ngFor="let link of links" [routerLink]="link.path" routerLinkActive="active">
        <mat-icon>
        {{link.icon}}
        </mat-icon>
        {{link.title}}
      </a>
    </nav>
  </mat-sidenav>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
