<mat-card class="custom-background">
  <mat-card-header>
    <mat-card-title *ngIf="currentComputer.id; else elseCreateNew"><h1>{{ originalTitle }}</h1></mat-card-title>
    <ng-template #elseCreateNew><h1>Create a New Computer</h1></ng-template>
  </mat-card-header>
  <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="saveForm(formDirective)">
    <mat-card-content>

      <mat-form-field class="full-width d-flex" color="accent">
        <input matInput placeholder="Title" type="text" name="title" formControlName="title">
        <mat-error *ngIf="form.get('title').hasError('required')">Required Field</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width d-flex" color="accent">
      <textarea matInput placeholder="Details" type="text" name="details" formControlName="details"></textarea>
      <mat-error *ngIf="form.get('details').hasError('required')">Required Field</mat-error>
      </mat-form-field>

      <section class="full-width" color="accent">
        <h3>{{currentComputer.coolLevel}}% Complete</h3>
        <mat-slider class="full-width" matInput thumbLabel min="0" max="200" formControlName="coolLevel">Coolness Level</mat-slider>
      </section>

      <mat-checkbox class="full-width d-flex" color="accent" formControlName="approved">Approved by Customer</mat-checkbox>

    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button color="accent" [disabled]="form.invalid">{{ currentComputer.id ? 'Update' : 'Create' }}</button>
      <button type="button" mat-button (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
