<mat-card class="custom-background">
  <mat-card-header>
    <mat-card-title>
      <h1>Computers</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let computer of computers; let last = last" [ngClass]="{'no-bottom-border': last}" (click)="select(computer)" class="mat-list-option border-bottom">
        <h3 mat-line>
          {{computer.title}}
        </h3>
        <p mat-line>
          {{computer.details}}
        </p>
        <button mat-mini-fab (click)="delete(computer); $event.stopImmediatePropagation()" class="mr-3">
        <mat-icon>close</mat-icon>
        </button>
        <button mat-icon-button class="mr-2" [routerLink]="computer.id">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
